{% extends 'base.html' %}

{% block title %}
  Evento
{% endblock %}

{% block header %}
    Exclusão do evento
{% endblock %}

{% block content %}

  <form method="post">
      {% csrf_token %}
    <br>
    <div class="panel panel-danger">
      <div class="panel-heading  text-center">
          Confirma exclusão de
        "{{ object|safe }}"?
      </div>
      <div class="panel-body text-center">
        <a type="button" class="btn btn-primary" href="{% url object.detail_url object.pk %}">Cancelar</a>
        <button type="submit" class="btn btn-danger">Excluir</button>
      </div>
    </div>
  </form>

{% endblock %}